<style>
    .f-info{
       background-color: #F4D9D0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .f-info-socials a{
         padding: 0.5rem;
    }
</style>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/singhsinghel" target="_blank"><i class='bx bxl-github' ></i></a>
            <a href="https://www.instagram.com/narayanastra__?igsh=MW1zdG04Z2l2Nnk0Yw=="  target="_blank"><i class='bx bxl-instagram' ></i></a>
           <a href="https://x.com/narayanastra__?t=NlskEiJFb1M9UX6ujkA4gA&s=09"  target="_blank"> <i class='bx bxl-twitter' ></i></a>
        </div>
        <div class=""><b>Ankit Singh</b></div>
        <div class="f-info-links">
            <a href="/privacy">privacy </a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>